<div class='panel panel-default'>
  <div class='panel-heading'>
    Day
  </div>
  <div class='panel-body'>

    <div>
      Hotels
      <ul class='list-group'>
        <li class='list-group-item'>
          Hotel One
          <button class='btn btn-warning btn-sm pull-right'>x</button>
          <br clear='both' />
        </li>
      </ul>
    </div>

    <div>
      Restaurants
      <ul class='list-group'>
        <li class='list-group-item'>
          Restaurant One
          <button class='btn btn-warning btn-sm pull-right'>x</button>
          <br clear='both' />
        </li>
      </ul>
    </div>

    <div>
      Activities
      <ul class='list-group'>
        <li class='list-group-item'>
          Activity One
          <button class='btn btn-warning btn-sm pull-right'>x</button>
          <br clear='both' />
        </li>
      </ul>
    </div>

  </div>
</div>
 
