<div class='panel panel-default'>
  <div class='panel-heading'>
    Options
  </div>
  <div class='panel-body'>
    <ul class='list-group'>
      <li class='list-group-item'>
        Hotels
        <br />
        <select style='width: 80%' class='form-control input-sm pull-left'>
          {% for item in hotels %}
          <option value='{{ item.id }}'>
            {{ item.name }} 
          </option>
          {% endfor %}
        </select>
        <button class='btn btn-primary btn-sm pull-right'>+</button>
        <br clear='all' />
      </li>

      <li class='list-group-item'>
        Restaurants
        <br />
        <select style='width: 80%' class='form-control input-sm pull-left'>
          {% for item in restaurants %}
          <option value='{{ item.id }}'>
            {{ item.name }} 
          </option>
          {% endfor %}
        </select>
        <button class='btn btn-primary btn-sm pull-right'>+</button>
        <br clear='all' />
      </li>

      <li class='list-group-item'>
        Activities
        <br />
        <select style='width: 80%' class='form-control input-sm pull-left'>
          {% for item in activities %}
          <option value='{{ item.id }}'>
            {{ item.name }} 
          </option>
          {% endfor %}
        </select>
        <button class='btn btn-primary btn-sm pull-right'>+</button>
        <br clear='all' />
      </li>
    </ul>

  </div>
</div>
